#settingsSection {
    /* background-color: #007aff; */
    flex-direction: column;
    gap: 18px;
}

.settings-list {
    /* margin-top: 20px; */
    background-color: var(--tg-theme-secondary-bg-color);
    /* background-color: red; */
    border-radius: 12px;
    /* padding: 5px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    border: none;
    /* background: seagreen; */
    background-color: transparent;
    outline: none;
    position: relative;
}

.settings-item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #888888;
}

.icon {
    background-color: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 12px;
    flex-shrink: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    text-align: left;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
}

.value {
    font-size: 14px;
    color: var(--tg-theme-text-color);

}

.arrow {
    font-size: 18px;
    color: var(--tg-theme-text-color);
    margin-left: 8px;
}
