@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--tg-theme-text-color);
}

#main {
    text-align: center;
    padding: 20px;
}

#bot_list {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 220px;
    background: var(--tg-theme-secondary-bg-color);
    border-radius: 8px;
    margin-top: -20px;
}

#bot_list_items {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#bot_list_items li {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    color: var(--tg-theme-text-color);
}

#toggle_bot_list {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    max-width: 220px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    margin: 20px auto;
}

#toggle_bot_list:hover {
    filter: brightness(0.9);
}

#toggle_bot_list:active {
    transform: scale(0.95);
}

.bot-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

.bot-button:hover {
    filter: brightness(0.9);
}

.bot-button:active {
    transform: scale(0.95);
}

h1 {
    margin-bottom: 15px;
    font-weight: 500;
}

.start-button {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    max-width: 220px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    margin: 20px auto;
}

.start-button:hover {
    filter: brightness(0.9);
}

.start-button:active {
    transform: scale(0.95);
}

.center-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: 500;
    color: red;
    text-align: center;
}

form {
    display: none;
    flex-direction: column;
    width: 90%;
    max-width: 320px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: var(--tg-theme-secondary-bg-color);
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input:focus {
    outline: 2px solid #0088cc;
}

#error {
    color: red;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    flex-wrap: nowrap;
}

button {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 48%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
}

button:hover {
    filter: brightness(0.9);
}

button:active {
    transform: scale(0.95);
}
