/* form {
    display: none;
    flex-direction: column;
    width: 320px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: var(--tg-theme-secondary-bg-color);
} */


#botForm {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#botForm input {
    width: 80%;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 10px;
}


#botForm button {
    width: 80%;
}
