#botList {
    margin-top: auto;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    width: 90%;
    /* max-width: 320px; */
    /* background: green; */
    height: 80%;
    max-width: 400px;
}

#botListContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Центрирование по вертикали, но с возможностью прокрутки */
    margin: 5%;
    max-height: 80%;  /* Устанавливаем ограничение на высоту контейнера относительно высоты экрана */
    overflow-y: auto;  /* Включаем вертикальную прокрутку */
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: red; */
    scrollbar-width: none;  /* Скрываем скроллбар в Firefox */
}

#botListItems {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Центрируем элементы по горизонтали */
    justify-content: flex-start;  /* Начало для вертикального выравнивания */
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-top: 0;  /* Убираем лишний верхний отступ */
}


.bot-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
}

.bot-button:hover {
    filter: brightness(0.9);
}

.center-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: 500;
    color: red;
    text-align: center;
}

.no-bots-message {
    text-align: center;
    font-size: 18px;
    font-weight: 500; /* Сделать шрифт толще */
    color: #777;
    padding: 20px;
    margin: 0;
}

.back-button {
    width: 100%;
    max-width: 220px;
    padding: 12px;
    margin-top: 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
}

.back-button:hover {
    filter: brightness(0.9);
}
