/* #settingsSection {
    width: 100%;
} */

.settingsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsLabel {
    font-size: 16px;
}

#languageToggleButton {
    width: 400px;
    /* height: 40px; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    align-items: center;
    /* background-color: ; */
}
