#settingsSection {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 400px;
    height: 87vh;
    margin: 60px auto 20px; */
}

.settingsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingsLabel {
    font-size: 16px;
}

#languageToggleButton {
    width: 100%;
    /* height: 40px; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    align-items: center;
    margin: 60px auto 20px;
    background-color: black;
}
