/* #settingsSection {
    width: 100%;
} */

.settingsSection {
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: flex-start; /* Размещение сверху */
    height: 100vh; /* Высота контейнера для вертикального выравнивания */
}

.settingsLabel {
    font-size: 16px;
}

#languageToggleButton {
    width: 400px;
    /* height: 40px; */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    align-items: center;
    /* background-color: ; */
}
