/* Меню (изначально скрыто) */
#sidebar {
    position: absolute;
    top: 0;
    left: -350px; /* Меню скрыто за экраном */
    width: 320px;
    height: 100%;
    background-color: var(--tg-theme-section-bg-color);
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.5);
    transition: left 0.2s ease;
    padding-top: 60px;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

#sidebar.active {
    left: 0; /* Слайдбар появляется */
}

/* Убираем отступы и делаем кнопки блочными */
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Стилизация кнопок */
#sidebar ul button {
    width: 90%;
    padding-left: 35px;
    /* margin-left: 15px; */
    border: none;
    color: var(--tg-theme-text-color);
    background: none;
    text-align: left;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#sidebar button.active {
    /* background: var(--tg-theme-button-color); */
    background-color: var(--accent-color);
    color: var(--tg-theme-button-text-color);
    font-weight: bold;
}

#sidebarFooter {
    text-align: center;
    padding: 10px;
    color: var(--tg-theme-subtitle-text-color); /* Серый цвет текста */
    font-size: 15px;
    margin-top: auto;
}
