#main {
    text-align: center;
    padding: 20px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    background: transparent; /* Прозрачный фон */
}

.buttonContainer {
    display: flex;
    justify-content: space-between; /* Расположить кнопки по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
    width: 100%;
}

.buttonContainer button {
    width: 130px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.start-button {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 220px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    margin-top: 20px; /* Отступы сверху и снизу */
}

.start-button:hover {
    filter: brightness(0.9);
}
